<a href="https://colab.research.google.com/github/MubasshirNaib/Python_89/blob/main/1904089.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Conditional logic**

**1.Check if the input number is even or odd.**

In [ ]:
x=int(input("Enter the Number:"))
if x&1 :
  print("The Number is Odd.")
else :
  print("The Number is Even.")

Enter the Number:5
The Number is Odd.

**2.Check if the input string 1st character is any vowel.**

In [ ]:
x=input("Enter the String:")
x=x[0]
if x=='a'or x=='e'or x=='i'or x=='o'or x=='u':
 print("1st character is vowel.")
elif x=='A'or x=='E'or x=='I' or x=='O' or x=='U':
 print("1st character is vowel")
else :
  print("First character is not vowel")

Enter the String:Apple
1st character is vowel

**3.Write a Python program which accepts the radius of a circle from the user and compute the area.**

In [ ]:
import numpy as mth
x=float(input("Enter the radius of the circle:"))
area=float(mth.pi*x**2)
print("The area of the circle is {:.4f}".format(area))

Enter the radius of the circle:5.5
The area of the circle is 95.0332

**4.Write a Python program to convert temperatures to and from celsius,fahrenheit .**

In [ ]:

print("Option 1: Celsius to Fahrenheit.")
print("Option 2: Fahrenheit to Celsius.")
x=input(" Provide the Option: ")
if x=='1':
  c=float(input("Give the Celsius temperature:"))
  f=float((c*9)/5 + 32 )
  print("The Fahrenheit temperature is {:.4f}".format(f))
else :
  f=float(input("Give the Fahrenheit temperature:"))
  c=float((f-32)*(5/9))
  print("The Celsius temperature is {:.4f}".format(c))

Option 1: Celsius to Fahrenheit.
Option 2: Fahrenheit to Celsius.
 Provide the Option: 2
Give the Fahrenheit temperature:100.1
The Celsius temperature is 37.8333

**5.Take input of age of 3 people by user and determine oldest and youngest among them.**

In [ ]:
x=input("Enter the first number:")
y=input("Enter the second number:")
z=input("Enter the third number:")
if x<=y and x<=z:
  min=x
elif y<=x and y<=z:
  min=y
else :
  min=z
if x>=y and x>=z:
  max=x
elif y>=x and y>=z:
  max=y
else:
  max=z
if min==max:
  print("output=youngest:{} {} {} oldest {} {} {}".format(x,x,x,x,x,x))
elif x != y and y !=z and z!=x :
  print("output=youngest:{} oldest:{}".format(min,max))
else:
  if (min==x and min==y) or (min==x and min== z) or (min== y and min == z) :
    print("output=youngest:{} {} oldest:{}".format(min,min,max))
  else:
    print("output=youngest:{} oldest:{} {}".format(min,max,max))

Enter the first number:10
Enter the second number:20
Enter the third number:20
output=youngest:10 oldest:20 20

**6. A school has following rules for grading system:**

Below 25 - F

25 to 45 - E

46 to 50 - D

51 to 60 - C

61 to 80 - B

Above 80 - A.

Now, ask user to enter marks and print the corresponding grade.

In [ ]:
marks=int(input("Enter the Marks:"))
if marks<25:
  grade='F'
elif marks>=25 and marks<=45:
  grade='E'
elif marks>45 and marks<=50:
  grade='D'
elif marks>50 and marks<=60:
  grade='C'
elif marks>60 and marks<=80:
  grade='B'
else:
  grade='A'
print("The corresponding grade is: " + grade)

Enter the Marks:89
The corresponding grade is: A

**7.Write a program to trace your subject mark.Your program should fulfill the following conditions:**

If the subject mark is below 0 and above 100, print "error: mark should be between 0 and 100 only"

Students will fail in the subject if their mark is below 50.

Students will pass in the subject if they score 50 and above.

If subject mark is between 50 and 60,grade student as good.

If subject mark is between 61 and 80,grade student as very good.

If subject mark is between 81 and 100, grade student as outstanding.

Make sure to print their mark in every statement to prove that the condtion is fulfilled. Moreover,name,class, and section should be also displayed along with the marks and their grade.

In [ ]:
name=input("Enter name:")
clss=input("Enter class:")
section=input("Enter section:")
subject=input("Enter the subject name:")
mark=float(input("Mark scored in that subject:"))
print("----Tracing your "+subject+" mark------")
print("Name: "+name)
print("Class: ",clss)
print("Section: ",section)
print(subject," mark is {:.1f}".format(mark))
if mark<50:
  result="Sorry! Fail in "+subject
  print(result)
else:
  result="Congratulations! Pass in "+subject
  print(result)
  if mark>=50 and mark <=60:
    remark='Good'
  elif mark>60 and mark <=80:
    remark='Very good'
  else:
    remark='Outstanding'
  print("Remark: ",remark," in ",subject)

Enter name:Dawa
Enter class:12
Enter section:A
Enter the subject name:Dzongkha
Mark scored in that subject:93
----Tracing your Dzongkha mark------
Name: Dawa
Class:  12
Section:  A
Dzongkha  mark is 93.0
Congratulations! Pass in Dzongkha
Remark:  Outstanding  in  Dzongkha

# **LOOP**

**1.Using a nested for loop generate the following pattern**

In [ ]:
#Pattern:
#    *
#    **
#    ***
#    ****
#    *****
#    ****
#    ***
#    **
#    *
x='*'
for i in range(1,6,1):
  print(x*i)
for i in range(4,0,-1):
  print(x*i)

*
**
***
****
*****
****
***
**
*

**2.Write a Python program to get the Fiboncci series between 0 to 50.**

In [ ]:
fibbo=[0,1]
x=int(input("Enter the Limit of the series:"))
if x==0:
  print(0)
elif x==1:
  print("0 1")
else:
  for i in range(2,x+1,1):
    k=fibbo[i-1]+fibbo[i-2]
    fibbo.append(k)
  for i in range(len(fibbo)):
    print("{} ".format(fibbo[i]),end="")

Enter the Limit of the series:50
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049 12586269025

3.**Write a Python program to check whether each alphabet of the input string is a vowel or consonant.**

In [ ]:
string=input("Enter the String:")
for i in string:
  if i=='a'or i=='e'or i=='i'or i=='o'or i=='u':
    print(i,"is vowel.")
  elif i=='A'or i=='E'or i=='I'or i=='O'or i=='U':
    print(i," is vowel.")
  else:
    print(i," is consonant,")

Enter the String:MubasshIr
M  is consonant,
u is vowel.
b  is consonant,
a is vowel.
s  is consonant,
s  is consonant,
h  is consonant,
I  is vowel.
r  is consonant,

**4.Write a Python program to create the multiplication tabe (from 1 to 10) of a number**

In [ ]:
x=int(input("Input a number:"))
for i in range(1,11,1):
  k=i*x
  print("{} x {} = {}".format(x,i,k))

Input a number:6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

**5.Write a Python program to construct the following pattern, using a nested loop number.**

1

22

333

4444

55555

666666

7777777

88888888

999999999

88888888

7777777

666666

55555

4444

333

22

1

In [ ]:
for i in range(1,10,1):
  print(str(i)*int(i))
for i in range(8,0,-1):
  print(str(i)*int(i))

1
22
333
4444
55555
666666
7777777
88888888
999999999
88888888
7777777
666666
55555
4444
333
22
1

**6.Display numbers from -10 to -1 using for loop**

In [ ]:
for i in range(-10,0,1):
  print(i," ",end="")

-10  -9  -8  -7  -6  -5  -4  -3  -2  -1

**7.Reverse a given integer number and find square root.**

In [ ]:
import numpy as nm
x=input("Enter the Number:")
x=x[::-1]
y=0
for i in x:
  y*=10
  y+=int(i)
print("The reverse integer is ",y)
x=nm.sqrt(float(x))
print("The square root of the number is {:.2f}".format(x))

Enter the Number:94
The reverse integer is  49
The square root of the number is 7.00

# **List**

**1.Reverse and concate two list.**

In [ ]:
a=[4,3,2,1,0]
b=[9,8,7,6,5]
c=a[::-1]+b[::-1]#reverse and concate
print(c)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**2.Remove duplicate items from the list**

In [38]:
n=int(input("Enter the limit of the list: "))
print("Enter the inputs:")
lst=[]
for i in range(0,n,1):
  x=input()
  lst.append(x)
# lst=list(set(lst))
lst=list(dict.fromkeys(lst))
print(lst)

Enter the limit of the list: 5
Enter the inputs:
Mubasshir
Naib
89
Mubasshir
Naib
['Mubasshir', 'Naib', '89']

**3.write a function to swap elements of two positions in a list**

In [28]:
lst=[2,1,3,4,5]
x=int(input("Enter the 1st positon: "))
y=int(input("Enter the 2nd postion: "))
t=lst[x-1]
lst[x-1]=lst[y-1]
lst[y-1]=t
print(lst)

Enter the 1st positon: 1
Enter the 2nd postion: 2
[1, 2, 3, 4, 5]

**4.Write a function to find sum and average of a list.**

In [29]:
import numpy as Naib
lst=[1,2,3,4,5]
# sum=0
# for i in lst:
#   sum+=i
k=Naib.sum(lst)
print("The sum of the list is {}".format(k))
avg=Naib.mean(lst)
print("The average of the list is {:.2f}".format(avg))

The sum of the list is 15
The average of the list is 3.00

**5. Write a Python function that takes two lists and returns True if they
have at least one common member.**

In [30]:
def func(a,b):
  x=set(a)
  y=set(b)
  if x&y:
    return True
  else:
    return False

a=[1,2,3,5]
b=[4,5,6,7,8]
print(func(a,b))

True

**6. Write a python program to check whether two lists are circularly
identical.**

In [31]:
list1=[1,1,0,0,1,1]
list2=[1,1,1,1,0,0]
test=list1*2
ans=0
for i in range(len(list1)):
  k=i
  p=0
  for j in range(len(list2)):
    if test[k] == list2[j]:
      p+=1
      k+=1
    else:
      break
  if p==len(list2):
    ans+=1
    break
if ans:
  print("Two lists are circularly identical.")
else:
  print("Two lists aren't circularly identical.")

Two lists are circularly identical.

**7. Write a Python program to find the second smallest and largest number
in a list .**

In [32]:
list1=[1,1,1,6,7,5,4,4,7]
list1.sort()
smallest2=list1[len(list1)-1]
largest=list1[len(list1)-1]
for i in range(1,len(list1),1):
  if list1[i-1] != list1[i]:
    smallest2=list1[i]
    break
print("The second smallest number is: ",smallest2)
print("The largest number is: ",largest)

The second smallest number is:  4
The largest number is:  7

**8. Write a Python program to compute the difference between two lists.**

In [33]:
import numpy as Naib
l1,l2=['red','orange','green','blue','white'],['black','yellow','green','blue']

#d1=Naib.setdiff1d(l1,l2)
#d2=Naib.setdiff1d(l2,l1)
d1=[]
d2=[]
for i in range(len(l1)-1,-1,-1):
  k=1
  for j in l2:
    if l1[i]== j:
      k=0
      break
  if k:
    d1.append(l1[i])
for i in l2:
  k=1
  for j in l1:
    if i == j:
      k=0
      break
  if k:
    d2.append(i)

print("Color1-Color2: ",d1)
print("Color2-Color1: ",d2)

Color1-Color2:  ['white', 'orange', 'red']
Color2-Color1:  ['black', 'yellow']

****